extend default

block content
    h3 Sudharsana Srinivasan
    img(src="gallery/AboutGuru.jpg")
    p.
        Described as "gifted with a natural flair for Abhinaya with mobile
        expressions and Laya sense" - The Indian Express, Sudharsana Srinivasan
        is an artist trained in  Carnatic Music and Bharatanatyam.  She started
        her training in Carnatic Music at a very young age from her mother
        Janaki Srinivasan and continued her advanced training from Seethalakshmi
        Subramaniam (Mother of Oscar Nominee, Bombay Jayshri).  She trained in
        the Pandanallur style of Bharatanatyam, under the legendary Nritya
        Choodamani Rajeswari Sainath of Hyderabad. While a student, she had the
        unique opportunity to teach younger students under her Guru's guidance.
        This reflects in her teaching style, to date. She had the honor of
        providing support on nattuvangam (performance conductor) and vocal for
        her Guru's performances and her Guru's student recitals. She performed,
        both dance and music, at prestigious venues such as Shanmukhananda Hall
        (Bombay), Ravindra Bharathi (Hyderabad) &,  Thyagaraja Gana Sabha
        (Hyderabad) to name a few.  Sudharsana's knowledge and deep
        understanding of these two mutually complementing art forms of Carnatic
        Music and Bharatanatyam set her apart in the art scene of the Capital
        Region. This gives her a unique vantage, as a performer, choreographer,
        and teacher.  As Founder and Artistic Director of Ragahastha Performing
        Arts, her vision is to increase awareness and appreciation of the South
        Indian Classical Art Forms. She accomplishes this through her music and
        dance lessons, workshops and performances at several venues in the
        Greater Capital Region - YWCA, Dance Flurry, National Museum of Dance,
        Skidmore College to name a few.  As a recipient of several arts grants,
        Sudharsana has had the opportunity to share, teach and spread the beauty
        of these two art forms with the community at large. She is a recipient
        of the Council of the Arts Award from the Dutchess County Arts Council
        and the Arts Dissemination Award from the Arts Center of the Capital
        Region in Troy, NY.

    p.
        For more information, visit 
        #[a(href='http://ragahastha.weebly.com/') her website].
