extend default

block content
    h3 About Purva
    img(src="photos/PurvaAbout.jpg")
    p.
         Purva is currently a 10th grader at Shenendehowa High School. Dance has been
         her passion since she was three years old when she started performing 
         bollywood dances. When she was six years old she began taking Bharatanatyam 
         lessons and since then she has performed numerous times as a classical 
         dancer. Some of her other passions include playing the violin, which she 
         has been learning for the past seven years, painting, and playing on 
         her school’s tennis team. She is also an active participant in school 
         organizations and clubs. She has been the President of National Junior 
         Honors Society and Treasurer of her middle school Future Cities club. 
         She is also a member of Class Council, SFA Senate, and Math Honors 
         Society. In the years to come, she hopes that dance will always remain an 
         integral part of her life.

    h3 About Elisa
    img(src="photos/SLO_6553.jpg")
    p(class="elisa-about").
        Elisa first started dancing under the guidance of guru Bindiya Prasad at
        age 5. She then began studying under guru Sudharsana Srinivasan when
        she was ten. She is a senior at Niskayuna High School, where she is a
        part of many clubs including the school newspaper, National Honor
        Society, and S.C.O.P.E, an initiative that organizes a schoolwide
        Charity Week each year. She is also an active tutor at her high school
        and a volunteer at Sunnyview Rehabilitation Hospital and the At the
        Table Food Pantry. In her free time, she likes to read, write, watch TV,
        play the violin and piano, and of course, dance.
