extend default

block content
    h3 About Purva
    p.
        I am the greatest dancer in the universe. You should come watch my
        performance. I will put on a great show that is sure to impress.

    h3 About Elisa
    img(src="gallery/SLO_6553.jpg")
    p(class="elisa-about").
        Elisa first started dancing under the guidance of guru Bindiya Prasad at
        age 5. She then began studying under guru Sudharsana Srinivasan when
        she was ten. She is a senior at Niskayuna High School, where she is a
        part of many clubs including the school newspaper, National Honor
        Society, and S.C.O.P.E, an initiative that organizes a schoolwide
        Charity Week each year. She is also an active tutor at her high school
        and a volunteer at Sunnyview Rehabilitation Hospital and the At the
        Table Food Pantry. In her free time, she likes to read, write, watch TV,
        play the violin and piano, and of course, dance.
