extend default

block content
  h3 Sudharsana Srinivasan
  p.
    I am the teacher of the greatest dancer in the universe. You should come
    watch my students performance. We will put on a great show that is sure to
    impress.
