extend default

block content
  h3 About Purva
  p.
    I am the greatest dancer in the universe. You should come watch my
    performance. I will put on a great show that is sure to impress.

  h3 About Elisa
  p.
    I am another great dancer. Find out more about me.
