extend default

block content
  h3 Mallari
  h5 Ragam: Hamsanadam | Thalam : Kanda Ekam
  p
    | Mallari is a unique piece of music played when the presiding deity of a 
    | temple is taken on procession. The deity, decorated with jewels and garlands
    | is brought around the temple tower to the Mallari. There is no sahithyam or 
    | lyrics in a mallari.
    
  h3 Alarippu
  h5 Thalam: Chathusra Jathi
  p
    | Alarippu means the blossoming of a flower. The dance begins with subtle and slow
    | movements to rhythmic syllables and gradually increases in tempo to a fast climax.
    
  h3 Kauthuvam
  h5 Ragam: Shanmughapriya | Thalam: Rupakam
  p
    | Kavuthuvam, an invocatory item is a song of devotion in praise of a deity. 
    | Traditionally performed as part of the daily temple rituals, or during the 
    | festivals, Kavuthuvams have an unique structure – it begins with a rhythmic 
    | recitation of sollukattus (vocal syllables), followed by lyric recitation in 
    | the same rhythmic metre, followed by a melodic rendering of the lyrics. 
    
  h3 Jathiswaram
  h5 Ragam: Vasantha | Thalam: Rupakam
  p
    | Jathi is a dance phrase. Swaram is a musical note. Dance phrases are juxtaposed
    | upon sung notes to create a vibrant, rhythmic piece highlighting the symmetry
    | and geometry of the Bharatanatyam style.
    
  h3 Varnam
  h5 Ragam: Valachi | Thalam: Adi
  p
    | Varnam is the crown jewel of the Baratanatyam recital. Combining intricate 
    | patterns of rhythmic steps(Nritta) and emotive dance(Nritya), the dancer displays
    | her mastery in technical and expressional dance. This varnam recounts the 
    | glory of Devi as Kamakshi, Visalakshi, Meenakshi, Abirami and Kali. 
    
  h3 Padam: Ardhanareeswaram
  h5 Ragam: Ragamalika | Thalam: Thalamalika
  p
    | Ardhanarishvara, the Lord who is half woman, signifies "totality that lies 
    | beyond duality". It conveys that God is both Shiva and Parvati, "both male 
    | and female, both father and mother, both aloof and active, both fearsome and 
    | gentle, both destructive and constructive" and unifies all other dichotomies 
    | of the universe.
    
  h3 Padam: Sadho Sadho
  h5 Ragam: Aahir Bhairav | Thalam: Chatusra Ekam
  p
    | Meera Bhai was one of the foremost exponents of the Prema Bhakti (Divine Love) 
    | and an inspired poetess. She sang in praise of Giridhara Gopala (Shri Krishna), 
    | her lord for whom she developed in her heart the most intense love and devotion.
    
  h3 Thillana
  h5 Ragam: Sumanasa Ranjani | Thalam: Adi
  p
    | It is a scintillating pure dance(Nritta) piece with fast rhythmic footwork
    | and sculpturesque poses.
    
  h3 Mangalam
  h5 Ragam: Punnagavarali | Thalam: Adi
  p
    | The dancers salutes God, their Guru, the orchestra and the audience for the
    | success of the program.
