extend default

block content
  h3 Mallari
  h5 No info yet
  p
    | No info yet
    
  h3 Alarippu
  h5 Talam: Tisra Jathi
  p
    | Alarippu means the blossoming of a flower. The dance begins with subtle and slow
    | movements to rhythmic syllables and gradually increases in tempo to a fast climax.
    
  h3 Kauthuvam
  h5 No info yet
  p
    | Kauthuvams were traditionally performed in everyday temple rituals, particularly
    | during the processions of the residing deity. This particular kauthuvam is 
    | in praise of Lord Muruga.
    
  h3 Jathiswaram
  h5 Ragam: Saveri | Talam: Rupakam
  p
    | Jathi is a dance phrase. Swaram is a musical note. Dance phrases are juxtaposed
    | upon sung notes to create a vibrant, rhythmic piece highlighting the symmetry
    | and geometry of the Bharatanatyam style.
    
  h3 Varnam
  h5 Ragam: Shankarabharanam | Talam: Adi
  p
    | Varnam is the crown jewel of the Baratanatyam recital. Combining intricate 
    | patterns of rhythmic steps(Nritta) and emotive dance(Nritya), the dancer displays
    | her mastery in technical and expressional dance.
    
  h3 Ardhanareeswaram
  h5 No info yet
  p
    | No info yet
    
  h3 Sadho Sadho
  h5 No info yet
  p
    | No info yet
    
  h3 Thillana
  h5 Ragam: Kathanakuthukulam | Talam: Adi
  p
    | It is a scintillating pure dance(Nritta) piece with fast rhythmic footwork
    | and sculpturesque poses.
    
  h3 Mangalam
  h5 Ragam: Punnagavarali | Talam: Adi
  p
    | The dancer salutes God, her Guru, the orchestra and the audience for the
    | success or the program.
