extend default

block content
  h3 Contact Information

  p.
    If you have any questions about the event, or just want to talk, you can
    reach me at any of the following sources:<br/>
    <br/>
    Phone: 5183937791<br/>
    Email: elisaabraham2@gmail.com
