doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Arangetram
  body
    .header
      h1.page-title Elisa Abraham
      h2.sub-title Bharatanritya Arangetram

    ul.nav
      li: a(href='/') Home
      li: a(href='/invitation') Invitation
      li: a(href='/about') About Me
      li: a(href='/contact') Contact
    
    .main-content
      block content
