doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(href="css/bootstrap.min.css" rel="stylesheet")
    title Arangetram

  body
    .header
      h1.page-title Elisa & Purva
      h2.sub-title Bharatanatyam Arangetram

    ul.nav
      li: a(href='/') Home
      li: a(href='/about') About Us
      li: a(href='/gallery') Gallery
      li: a(href='/aboutGuru') Our Guru

    .main-content
      block content
