extend default

block content
  .invitation
    h3 Tomy and Lena Abraham
    h4 &
    h3 Prakash and Deepa Shenoy
    p.
      along with
    h3 Ragahastha Performing Arts
    p.
      kindly request the pleasure of your company at the
    h2 Bharatanatyam Arangetram
    p.
      of
    h2 Elisa Abraham and Purva Shenoy
    h3 students of Guru Sudharsana Srinivasan
    p.
      on July 8, 2017 at 2:00 pm at the UAlbany Performing Arts Center Main
      Theater 1400 Washington Avenue Albany, NY 12222
    p.
      Please join us for dinner after the performance RSVP at
      5183937791(Abraham) 5555555555(Shenoy)
