extend default

block content
  .invitation
    h3 Tomy and Lena Abraham
    h4 with
    h3 Prakash and Deepa Shenoy
    p.
      along with
    h3 Ragahastha Performing Arts
    p.
      kindly request the pleasure of your company at the
    h2 Bharatanatyam Arangetram
    h3 of
    h2 Elisa Abraham and Purva Shenoy
    h3 students of Guru Sudharsana Srinivasan
    p.
      on July 8, 2017 at 2:30 pm at
    p.
      UAlbany Performance Arts Center<br/>
      1400 Washington Avenue<br/>
      Albany, NY 12222
    p.
      Please join us for dinner after the performance
    p.
      RSVP at 518-393-7791(Abraham) or 518-698-3785(Shenoy)
