extend default

block content
  .invitation
    h3 Tomy and Lena Abraham
    h4 with
    h3 Prakash and Deepa Shenoy
    p.
      along with
    h3 Ragahastha Performing Arts
    p.
      kindly request the pleasure of your company at the
    h2 Bharatanatyam Arangetram
    h3 of
    h2 Elisa Abraham and Purva Shenoy
    h3 students of Guru Sudharsana Srinivasan
    p.
      on July 8, 2017 at 2:30 pm at
    p
     a(href="https://goo.gl/maps/L4MTKLwffkN2") UAlbany Performing Arts Center (Main Theater)<br/> 1400 Washington Avenue<br/> Albany, NY 12222
    p.
      From I-90 Ext 2(Washington Ave/UAlbany) which leads right into the University
      at Albany.
    p.
      After entering into the campus, Turn immediate  Left at <b>West University 
      Dr</b>  and  follow the sign for <b>Indian Quad</b>. Turn right at 
      <b>E. Center Dr.</b> You 
      will see Visitor Parking Lot 2 on your left. You can park in the open parking 
      lot right before the Visitor lot.   Parking is free for our event. (Though the sign
      says "by permit only")
      The Performing Arts Center  is in the building on your right.
    p
      a(href="http://www.albany.edu/map/img/Admissions-Map-Directions.pdf") Map of the campus
    p.
      Please join us for dinner after the performance
    p.
      RSVP at 518-393-7791(Abraham) or 518-698-3785(Shenoy)
