extend default

block content
  .invitation
    h2 We did it!
    h3 A great accomplishment of Elisa Abraham & Purva Shenoy
    p.
      under the guidance of
    h3 Guru Sudharsana Srinivasan
    p.

    h3 We had our arangetram on July 8 2017
    p.
      at
    h3 UAlbany Performing Arts Center
    h4 Watch and enjoy

    <iframe width="560" height="315" src="https://www.youtube.com/embed/c0tum7NYSSU?rel=0" frameborder="0" allowfullscreen></iframe>
