extend default

block content
  h3 Invitation
  p.
    Come to my dance party. It's gonna be swell as hell. Watch me dance for like
    3 hours straight. Don't worry! I don't get tired at all because I'm awesome!
