extend default

block content
    h3 Jayanth Krishnamurthi (Vocals)
    img(src="aboutPhotos/AboutJayanth.jpg")
    p.
      Jayanth Krishnamurthi has been learning Carnatic music for the past 11
      years. He commenced tutelage under Smt. Anandhi Venkat and continued
      with Smt. Lalitha Venkat and Smt. Asha Janardhan of New Jersey. He
      subsequently continued training under reputed teacher Smt. Padma
      Srinivasan in New Jersey. At present, he is a disciple of renowned vocalists
      Smt. S. Sowmya and Sri. O.S.Thyagarajan in Chennai, India. Jayanth has
      participated in several music competitions conducted by CMANA and the
      Cleveland Thyagaraja Aradhana and performed several concerts in and
      around the tri-state area. He is currently pursuing his doctoral studies in
      Aerospace Engineering at the Rensselaer Polytechnic Institute (RPI), in Troy,
      NY.

    h3 Rohan Krishnamurthy (Mridangam)
    img(src="aboutPhotos/AboutRohan.jpg")
    p
      | Acclaimed an “international mridangam performer” by USA Today and “pride
      | of India” by India's leading newspaper, The Times of India, Rohan
      | Krishnamurthy is considered a musical ambassador. Having received
      | advanced training from maestro, Guruvayur Dorai, in India, Rohan’s cross-
      | genre artistry draws from his formal study of Indian classical music, at once
      | propagating the ancient tradition and expanding it in new artistic directions. 
      | Rohan has shared the stage with the leading artists of Indian classical music
      | and has also spearheaded collaborations with orchestras, jazz ensembles,
      | and musicians including Grammy Award-winners Glen Velez and Vishwa
      | Mohan Bhatt, Anoushka Shankar, and Ayano Ninomiya. He premiered
      | “Rohan,” a concerto for south Indian percussion and Western percussion
      | ensemble by composer Payton Macdonald. The concerto was premiered on
      | both coasts at The Juilliard School in New York City and San Francisco
      | Conservatory of Music.
      | An acclaimed educator, Rohan earned a Ph.D. in musicology from the 
      | Eastman School of Music in New York. He has presented and taught at world-
      | renowned institutions, including the Eastman School of Music, Harvard
      | University, and A.R. Rehman’s K.M. Conservatory of Music. He teaches in the
      | Music Department at Ohlone College in San Francisco and directs the award-
      | winning RohanRhythm Percussion Studio, which has attracted dozens of
      | students from around the globe.
      | An innovator, Rohan patented a new drumhead tuning system. His work
      | resulted in a publication in the premier music journal, Percussive Notes, and
      | was supported by the Eastman School of Music’s Institute for Music
      | Leadership. His design is now available worldwide. 
      a(href="http://www.rohanrhythm.com/") RohanRhythm.com
    
    h3 Arun Ramamurthy (Violin)
    img(src="aboutPhotos/AboutArun.jpg")
    p
      | Arun Ramamurthy is a versatile violinist, composer, educator and
      | organizer based in NYC. A disciple of the celebrated Carnatic
      | violinist brothers, Dr. Mysore Manjunath & Sri Mysore Nagaraj,
      | Arun has become one of the country’s leading Indian Classical and
      | crossover musicians. He has carved a niche for himself as a
      | multifaceted artist, performing internationally in both traditional
      | Carnatic and Hindustani settings as well as cross genre creative
      | projects. Arun has been fortunate to perform with artists such as
      | Dr. Balamurali Krishna, Sudha Ragunathan, T.N.
      | Seshagopalan, Anindo Chatterjee, Mashkoor Ali Khan, Marc Cary,
      | Awa Sangho among others. He leads the Arun Ramamurthy Trio,
      |  an ensemble that brings a fresh approach to age-old South Indian
      | classical repertoire and raga inspired originals. Praised by All
      | About Jazz as “a beautiful, exotic, ear-opening listening
      | experience” his trio’s debut album “Jazz Carnatica” has received
      | critical acclaim from notable media sources NPR and the New York
      | Times. Arun is a co-founder and Vice President of Brooklyn Raga
      | Massive. He created the concert series Carnatic Sundays at
      | Cornelia Street Café, an iconic jazz venue in New York’s West
      | Village. As an educator, Arun teaches students ranging from
      | beginners to professional musicians in Indian music performance,
      | technique and theory. He has taught workshops on Indian classical
      | music at music schools, universities, conservatories and summer
      | music programs.

    h3 Prayuth Naduthota (Flute)
    img(src="aboutPhotos/AboutPrayuth.png")
    p
      | Prayuth Naduthota is a disciple of renowned professional flute player Sri Mysore A.
      | Chandan Kumar. Prayuth started his early flute lessons at the age of 9 and has had
      | the honor of learning from many distinguished musicians, including Sri R.K.
      | Srikantan, Mysore Srinath, Sikkil Mala Chandrasekar, Mysore A.V. Prakash, and
      | others. He has performed in several venues in New England, the Midwest, and in
      | India, and has played in fundraising concerts for hospitals and temples. He has won
      | numerous awards from several music festivals and competitions across the U.S.,
      | including the prestigious Cleveland Aaradhana and CMANA. Prayuth accompanies
      | Bharatantyam arengetrams and teaches Carnatic flute in the Boston area.
      | Prayuth graduated from Brandeis University in May with a degree in computer
      | science and neuroscience. He currently works as a software developer in Boston.
      
    h3 Tina Baird (Tap Dancer)
    img(src="aboutPhotos/AboutTina.jpg")
    p
      | As a Jazz Tap Artist and Educator, Tina is a protégé of Brenda Bufalino and
      | was mentored by Barbara Duffy & Katherine Kramer. She is the owner of
      | Saratoga Jazz Tap where she provides private and small group lessons,
      | creates new works and produces concerts and festivals. Since 1991 she has
      | taught at numerous schools and colleges throughout New England, New
      | Jersey and New York, including Emma Willard, Russell Sage and Skidmore
      | College. She has performed at Jacob’s Pillow in Lenox, M.A. with Lynn
      | Schwab, the Troy Savings Bank Music Hall in Duke Ellington’s “Sacred
      | Symphonies” with the Albany Symphony Orchestra, The National Museum of
      | Dance Gala “Singin’ In The Rain” with the Alex Torres Orchestra and in NYC
      | at Zinno’s Jazz Tap Brunch with Barbara Duffy and at Swing 46 under the
      | auspices of Buster Brown. Over the last ten years, she has produced several
      | National Tap Dance Day Festivals in Saratoga, bringing in guest artists and
      | musicians to teach and perform.
      | Her most recent presentations include Saratoga ArtsFest First Fridays “A
      | Vaudeville Circus” (2015 Tang Museum), “Everything Will Be Copacetic” (2014
      | Saratoga ArtsFest, Universal Preservation Hall), National Tap Dance Day
      | Festival with Brenda Bufalino (2013 National Museum of Dance), National
      | Museum of Dance Black History Month Celebration (2013 with tap dancer
      | Rebecca Kim), Stoptime: Louis Armstrong Celebration (2011 curated by
      | Margo Mensing). She has choreographed productions for Saratoga Children’s
      | Theatre, Saratoga Springs HighSchool Drama Club and St. Clement’s
      | Church, and serves on the Board of the Dance Alliance of the Capital Region
      | and the Catholic Daughter’s of America. She holds a B.A. in Theatre
      | Arts/Directing from the State University of New York at Albany and lives in
      | Saratoga Springs with her husband and daughter.
      
    h3 Aditya Kanakasabapathy (Mridangam)
    //- img(src=)
    p
      | Aditya Kanakasabapathy a 10th grader at Niskayuna High School, started his
      | initial training in mridangam, at age 7, from Guru Ganesh Sankaranarayanan.
      | He is now receiving advanced training from Dr. Rohan Krishnamurthy and is a
      | member of the acclaimed Rohan Rhythm Percussion Studio. He has performed at
      | the renowned Kilbourn Hall in Rochester NY, and has collaborated with the 
      | Niskayuna High School orchestra for their Spring Concert. When he’s not 
      | immersed in music, Aditya enjoys designing, and building robots,  tinkering 
      | with electronics, and entertaining his family with magic tricks. At school, 
      | Aditya is part of many school clubs, including Robotics, ARC Tutoring, National 
      | Science Bowl, and Rocketry Club.
